@page "/users"
@using Microsoft.AspNetCore.Server.Kestrel.Core
@inject IUserService userService;

@if (Users == null)
{
    <h2>Carregando...</h2>
}
else
{
    <h3 class="mb-5">Users</h3>
    
    @if (Users.Count() > 0)
    {
        <div class="row mt-3">
            @foreach (var user in Users)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@user.Name</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            }
        </div>
    }
}


@code {
    public IEnumerable<Entities.Domain.User>?  Users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Users = await userService.GetUsers();
    }

}