@page "/user"
@using Microsoft.AspNetCore.Server.Kestrel.Core
@inject IUserService userService;


<div class="row-cols-xxl-6">
    <CreateUsuario></CreateUsuario>
</div>


@if (Users == null)
{
    <h2>Carregando...</h2>
}
else
{
    <h3 class="mb-5">Users</h3>

    
    @if (Users.Count() > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                            <button class="btn btn-primary" >Editar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>



    }
}


@code {
    public IEnumerable<Entities.Domain.User>?  Users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Users = await userService.GetUsers();
    }


   

}